body, html 
{
	background: #000;
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;

	font-family: "HelveticaNeue-UltraLight";
	letter-spacing: -2px;
	color: #fff;
	font-size: 75px;
	-webkit-font-smoothing: antialiased;

	-/*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    */
}

#container 
{
    /*-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    */
}

.top
{
	position: relative; 
	float: top;
}

.bottom
{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left
{
	position: relative; 
	float: left;
}

.right
{
	position: relative; 
  float: right;
}

.center
{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#weather
{
  padding-top: 20px;
}

#current_weather
{
  padding-left: 25px;
}

#forecast
{
 border-spacing: 30px 5px;
 font-size: 50%;
}

.weather
 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-size: 100%;
}

#today
{
  padding-top: 20px;
  padding-right: 10px;
  text-align: right
}

#news
{
  padding-bottom: 100px;
}

#headline
{
  font-family: "HelveticaNeue-Light";
  font-size: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

#abstract
{
  font-size: 40%;
}

.XSfont
{
	font-size: 25%
}

.Sfont
{
	font-size: 50%
}

.Lfont
{
	font-size: 125%
}

.XLfont
{
	font-size: 150%
}

img{
	-webkit-filter: brightness(0) invert(1);
  	filter: brightness(0) invert(1);
}

@font-face 
{
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.ttf"); 
}

@font-face 
{
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf"); 
}

@font-face 
{
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.ttf"); 
}

@font-face 
{
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.ttf"); 
}

@font-face 
{
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.ttf"); 
}

@font-face 
{
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light.ttf"); 
}